@media (prefers-color-scheme: dark) {
	body {
		color: #E5E9EC;
		background: #151414;
	}

	nav.main-nav a, #footer a, #post-nav a, p a {
		transition: none !important;
		box-shadow: none !important;
	}

	nav.main-nav {
		background: #2A2828;
		
	}

	nav.main-nav a {
		color: #90a3ca
	}

	a.cta {
		color: #2a2828;
		background-color: #90a3ca;
	}

	h1, h2, h3 {
		color: #E5E9EC;
	}

	a, #post-nav a, p a, ul a, ol a {
		color: #CFD2B2;
		font-weight: bold;
	}

	#footer a {
		color: #E9724C;
	}
	
	#post-meta div span.dark {
		color: #CFD2B2;	
	}
}
